<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/board.css') }}" />
  </head>
  <body>
    <h2>Active Users</h2>
    <div class="users" id="users">
      {% for item in data %}
        <div class="user {{ item['username'] }}-el">
          <h4>{{ item["username"] }}</h4>
          <button class="join" id="{{ item['username'] }}" >Join</button>
        </div>
        <hr class="{{ item['username'] }}-el"/>
      {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/get_public_keys.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/localstg.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/board.js') }}"></script>
    <script>
            ws.onopen = function(event) {
              ws.send(`{{ mson|safe }}`);
            };      
            ws.onmessage = function(event) {
              data = JSON.parse(event.data)
              console.log(data);

              if (data["method"] === "user_conn") {
                console.log("baho");
                document.querySelector("#users").innerHTML += `
                  <div class="user ${data["payload"]}-el">
                    <h4>${data["payload"]}</h4>
                    <button class="join" id="${data["payload"]}">Join</button>
                  </div>
                  <hr class="${data["payload"]}-el" />
                `;
              } else if (data["method"] === "user_disconn") {
                let elements = document.querySelectorAll(`.${data["payload"]}-el`);
                elements.forEach(element => {
                  element.remove();
                });
              } else if (data["method"] === "connect") {
                accept(data["payload"]);
              } else if (data["method"] === "confirm") {
                confirm(data["payload"]);
              } else if (data["method"] === "justify") {
                justify(data["payload"]);
              }

            console.log(event.data);

            }; 
            removeDataOnUnload("serverPublicKeys");
    </script>

  </body>
</html>
