<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/board.css') }}" />
  </head>
  <body>
    <h2>Active Users</h2>
    <div class="users">
      <div class="user">
        <h4>Name</h4>
        <button>Join</button>
      </div>
      <hr />
      <div class="user">
        <h4>Name</h4>
        <button>Join</button>
      </div>
      <hr />
      <div class="user">
        <h4>Name</h4>
        <button>Join</button>
      </div>
      <hr />
      <div class="user">
        <h4>Name</h4>
        <button>Join</button>
      </div>
    </div>
  </body>
</html>
