<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/chat.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="users">
        <h2>Users in Chat</h2>
        <div class="userList"></div>
      </div>
      <div class="chat">
        <h2>Room Chat</h2>
        <div class="chatText" id="chatText">
          <h2 class="welcome">Welcome to the Chat Room</h2>
        </div>
      </div>
      <div class="chatControls">
        <div class="inputPanel">
          <input id="textInput" type="text" placeholder="Enter Message" />
          <button id="sendButton">Send</button>
        </div>
      </div>
    </div>
    <script>
      var ws = new WebSocket(`ws://localhost:8000/chat`);
      const chat = document.getElementById("chatText");
      const sendButton = document.getElementById("sendButton");
      let inputPanel = document.getElementById("textInput");
      ws.onmessage = function (event) {
        chat.innerHTML += `<p class="receiver"> ${event.data} </p>`;
      };
      inputPanel.addEventListener("keypress", (e) => {
        if (e.key === "Enter") {
          if (inputPanel.value === "") return;
          ws.send(inputPanel.value);
          chat.innerHTML += `<p class="sender"> ${inputPanel.value} </p>`;
          inputPanel.value = "";
        }
      });

      sendButton.addEventListener("click", () => {
        if (inputPanel.value === "") return;
        ws.send(inputPanel.value);
        chat.innerHTML += `<p class="sender"> ${inputPanel.value} </p>`;
        inputPanel.value = "";
      });
    </script>
  </body>
</html>
